<div class="groups flex flex-col items-center gap-2 bg-gray-300 min-h-screen">
  <div
    class="
      nav
      flex
      justify-center
      items-center
      bg-[#3778c2]
      py-2
      w-full
      sticky
      z-10
      top-0
    "
  >
    <h2 class="text-2xl text-gray-100">CATEGORIES</h2>
    <div class="new absolute right-3">
      <%= link_to "New", new_group_path, class: "text-gray-100" %>
    </div>
  </div>
  <div class="px-2 w-full flex flex-col gap-2">
    <%= render partial: "group", collection: @groups, as: :group %>
  </div>
</div>
