<div class="acct-pg">
  <div class="cat">
    <div class="actions absolute left-3">
      <a href="/" class="text-new">Back</a>
    </div>
    <div class="t-group">
      <h2 class="text-group">ADD NEW GROUP</h2>
    </div>
  </div>

  <%= form_with(model: @group, html: { class: "form-two" }) do |form| %>
    <div class="field">
      <%= form.text_field :name, placeholder: "Name", class: "form-control w-full" %>
    </div>

    <div class="field">
      <%= form.file_field :icon,
                      accept: "image/png, image/jpeg, image/jpg",
                      class: "form-control w-full" %>
    </div>

    <div class="sub">
      <%= form.submit class: "sub-btn" %>
    </div>
  <% end %>
</div>
