<div class="welcome">
  <h1 class="welcome-giant">
    Budget App
  </h1>

  <div class="wel-log">
    <%= link_to "LOG IN", new_user_session_path,
      class: "wel-sign" %>
    <%= link_to "SIGN UP", new_user_registration_path, class: "text-gray" %>
  </div>
</div>
